/*(mini) Reset do CSS para resetar as propriedades mais comuns
que são aplicadas pelo navegador, a fim de eliminar possíveis 
imcompatibilidades entre navegadores.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;

}

/* Estilos definidos para a página de documentação */


body {
    width: 90%;
    margin: auto;
}

article {
    background-color: #e9edc9;
}

h1, h1, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
    margin-top: 30px;
}

h4 {
    font-size: 18pt;
    margin-top: 30px;
}

.container #anima {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: #6F38C5;
    border-radius: 3px solid #3F0071;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: white;
    text-align: center;
  }

  @keyframes example {
    0%   {background-color:#6F38C5; left:0px; top:0px;}
    25%  {background-color:#256D85; left: 88.3%; top:0px;}
    50%  {background-color:#03C988; left: 88.3%; top: 97px;}
    75%  {background-color:#8FE3CF; left:0px; top:97px;}
    100% {background-color:#5F6F94; left:0px; top:0px;}
  }

.navbar {
    overflow: hidden;
    background-color: #5C469C;
  
}

.subnav {
    float: left;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16pt;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav .subnavbtn {
    font-size: 16pt;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #3F0071;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #3F0071;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #5C469C;
    color: #3F0071;

}

.subnav:hover .subnav-content {
    display: block;
}

.container {
    height: 300px;
    background-color: #D4ADFC;
    border: 5px solid #5C469C;
    border-radius: 20px;
}

.container-column {
    height: 900px;
    background-color: #D4ADFC;
    border: 5px solid #5C469C;
    border-radius: 20px;
}

.container-column :nth-child(1) {
    background-color:#6F38C5;
}
.container-column :nth-child(2) {
    background-color: #256D85;
}

.container-column :nth-child(3) {
    background-color: #03C988;
}

.container-column :nth-child(4) {
    background-color: #8FE3CF;
}

.container-column :nth-child(5) {
    background-color: #5F6F94;
}

.container :nth-child(1) {
    background-color: #6F38C5;
}
.container :nth-child(2) {
    background-color: #256D85;
}

.container-column :nth-child(3) {
    background-color: #03C988;
}

.container :nth-child(4) {
    background-color: #8FE3CF;
}

.container :nth-child(5) {
    background-color: #5F6F94;
}

.contido {
    width: 150px;
    height: 150px;
    background-color: #1D267D;
    border: 5px solid #0C134F;
    border-radius: 20px;
    text-align: center;
    color: white;
    
}

img {
    opacity: 0;
    margin: auto;
    display: inline-block;
    padding: 20px;

}

.contido img:hover {
    opacity: 100;
    margin: 0;
   
}

.contido-hover:hover {
    width: 200px;
    height: 200px;
}

.contido-hover-column:hover {
    width: 175px;
    height: 175px;
}



.contido :nth-child(1) {
    background-color: #6F38C5;
}
.contido :nth-child(2) {
    background-color: #256D85;
}

.contido :nth-child(3) {
    background-color: #03C988;
}

.contido :nth-child(4) {
    background-color: #8FE3CF;
}

.contido :nth-child(5) {
    background-color: #5F6F94;
}

.display-flex {
    display: flex;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-initial {
    justify-content: initial;
}

.justify-content-inherit {
    justify-content: inherit;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-direction-initial {
    flex-direction: initial;
}

.flex-direction-inherit {
    flex-direction: inherit;
}


.contido-stretch {
    align-content: stretch;
    height: auto;
    width: 100px;
}

.align-items-center {
    align-items: center;    
} 

.align-items-flex-start {
    align-content: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-baseline	 {
    align-items: baseline;
}

.align-items-initial {
    align-items: initial;
}

.align-items-inherit {
    align-items: inherit;
}

#baseline-1 {
    height: 130px;
}

#baseline-2 {
    height: 110px;
}

#baseline-3 {
    height: 90px;
}

#baseline-4 {
    height: 70px;
}

.align-items-space-evenly	 {
    align-items: space-evenly;
}



p, table {
    margin: 20px 0;
}

p {
    line-height: 1.5;
    font-size: 16pt;
    margin-left: 20px;
    text-align: justify;
}

td, th {
    font-size: 16pt;
}

.th-style {
    text-align: center;
    font-size: 20pt;
    text-decoration: solid;
    border: 2px solid #27005D;
    background-color: #793FDF;
}

.td-borda {
    border: 2px solid #27005D;
    background-color: #793FDF;
    padding-left: 10px;
}




